.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 60px; /* important */

 
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* stay above everything */
}

.logo {
  margin: 0;
}

.help {
  color: gray;
  cursor: pointer;
}

