.sidebar {
  width: 220px;
  height: calc(100vh - 80px); 
  background: #ffffff;
  border-right: 1px solid #e5e7eb;

  position: fixed;
  top: 60px; /* navbar height */
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  background: #f4f6fb;
}

/* Active style (optional later) */
.menu li.active {
  background: #e0e7ff;
  color: #0b0b3b;
  font-weight: 600;
}

/* Logout */
.logout {
  padding: 10px;
  cursor: pointer;
  color: #ef4444;
}