.variant-container {
  margin-top: 60px;
  margin-left: 320px;
  padding: 20px;
}

/* INPUT BOXES */
.form-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

/* ATTRIBUTES */
.attr-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

/* SIMPLE BOX */
.box {
  padding: 10px 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
}

/* SELECTED BOX */
.box.active {
  border: 2px solid black;
}

/* SELECTED TEXT BOX */
.selected-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .variant-container {
    margin-left: 0;
  }

  .form-box {
    grid-template-columns: 1fr;
  }
}